name: Renovate
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:
jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Run renovate
        uses: renovatebot/github-action@76d49712364696a06b60e8647df46b288fff0ddc # v40.2.4
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          configurationFile: renovate.json
