name: Renovate
on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run renovate
        uses: renovatebot/github-action@f5c3383cb7cbf7711d8b66b809375b2d5f4e2d1d # v42.0.2
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          configurationFile: renovate.json
