name: Renovate
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:
jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run renovate
        uses: renovatebot/github-action@v40.1.10
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          configurationFile: renovate.json
