name: Renovate
on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run renovate
        uses: renovatebot/github-action@12f8ed8e6a936a00dc66b628d224488ac406b5e8 # v42.0.5
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          configurationFile: renovate.json
